<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="utf-8">
<title>Produits</title>
</head>
<body>
	<div layout:fragment="content1">
		<div class="container">
			<div class="panel panel-primary">
				<div class="panel-heading">Liste des produits</div>
				<div class="panel-body">
					<form th:action="@{/index}" method="get">
						<label>Mot Clé:</label> <input type="text" name="motCle"
							th:value="${motCle}">
						<button type="submit" class="btn btn-primary">Chercher</button>
					</form>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<th>ID</th>
							<th>Désignation</th>
							<th>PRIX</th>
							<th>QTE</th>
						</tr>
						<tr th:each="p:${listProduits}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.designation}"></td>
							<td th:text="${p.prix}"></td>
							<td th:text="${p.quantite}"></td>
							<td><a
								onclick="return confirm('Etes vous sures de vouloir supprimer?')"
								th:href="@{/delete(id=${p.id}, page=${currentPage}, motCle=${motCle})}">Delete</a></td>
							<td><a th:href="@{/edit(id=${p.id})}">Edit</a></td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:class="${currentPage==status.index}?'active':''"
							th:each="page, status:${pages}"><a
							th:href="@{/index(page = ${status.index}, motCle=${motCle})}"
							th:text="${status.index}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>